@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./public/bg-saga.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(1);
}
